{% extends 'core/base/base.html' %}
{% load static %}
{% block contents %}
  <div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
      <div>
        <h5 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: white;" class="mb-3"><i class="fas fa-home"></i>Home|soccer247gv</h5>
        <h6 class="mb-2 text-light">Bet on latest games and win....</h6>
      </div>
      <div class="ms-md-auto py-2 py-md-0">
        {% if user.is_authenticated %}

        {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline-light btn-round me-2">Login</a>
          <a style="background-color: #ffa534;" href="{% url 'signup' %}" class="btn btn-round text-white">Join now</a>
        {% endif %}
      </div>
    </div>

    <div class="row mb-5 pb-5 p-0">
      <div class="container-fluid p-0 col-12 py-2">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            {% for slide in slides %}
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
          </div>

          <div class="carousel-inner text-center">
            {% for slide in slides %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="img-container mx-auto">
                  <img src="{{ slide.image.url }}" class="d-block" alt="Slide Image" />
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="row mx-3">
        <div class="container-fluid d-flex justify-content-center mb-4 mt-5 border-bottom border-danger">
          <h5 class="fw-bold text-light">Todays Game</h5>
        </div>
        <div class="row justify-content-center align-items-center mb-1">
          {% for game in hot_games %}
            <div class="col-md-3 col-sm-6">
              <div class="card card-pricing shadow-lg h-100 text-center border border-warning rounded-3">
                <div class="card-header bg-dark text-light py-3 rounded-top">
                  <h5 class="card-title text-light mb-1"><strong>{{ game.home_team }} vs {{ game.away_team }}</strong></h5>
                  <p></p>
                  <p class="text-warning mb-0">
                    Fixed correct score: <strong>{{ game.fixed_score }}</strong>
                  </p>
                </div>
                <div class="card-body bg-light">
                  <ul class="list-unstyled">
                    <li class="d-flex justify-content-between py-1">
                      <span class="fw-semibold">Start Time & Date</span>
                      <span>{{ game.start_time|date:'d M H:i' }}</span>
                    </li>
                    <li class="d-flex justify-content-between py-1">
                      <span class="fw-semibold">Profit</span>
                      <span>{{ game.profit_percentage|floatformat:'0' }}%</span>
                    </li>
                  </ul>
                </div>
                <div class="card-footer bg-warning">
                  <button class="btn btn-dark w-100" onclick="placeBet(
                    '{{ game.home_team }}', 
                    '{{ game.away_team }}', 
                    '{{ game.start_time|date:'Y-m-d' }}', 
                    '{{ game.start_time|time:'H:i' }}', 
                    '{{ game.fixed_score }}', 
                    '{{ game.profit_percentage }}',
                    '{{ game.status }}',
                    '{{ game.prediction }}',
                )"><strong>Bet Now</strong></button>
                </div>
              </div>
            </div>
          {% empty %}
            <div class="col-12 text-center text-muted py-3">
              <p>No games available.</p>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="container-fluid mx-1 row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header bg-dark text-white border-bottom">
              <h4 class="card-title text-white text-center border-bottom mb-2">Premier League Games</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table id="premier-league-table" class="table table-hover table-striped table-bordered" style="background-color: white;">
                  <thead class="table-primary text-center text-uppercase small">
                    <tr>
                      <th>Match</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Fixed Score</th>
                      <th>Profit</th>
                      <th>Bet</th>
                    </tr>
                  </thead>
                  <tbody class="small">
                    {% for game in games %}
                      <tr class="{% cycle 'table-success' 'table-warning' 'table-info' %}">
                        <td>{{ game.match }}</td>
                        <td>{{ game.start_time|date:'Y-m-d' }}</td>
                        <td>{{ game.start_time|time:'H:i' }}</td>
                        <td>{{ game.fixed_score }}</td>
                        <td>{{ game.profit_percentage }}%</td>
                        <td>
                          <button class="btn btn-warning btn-sm w-100" onclick="placeBet(
                            this, 
                            '{{ game.match }}', 
                            '{{ game.start_time|date:'Y-m-d' }}', 
                            '{{ game.start_time|time:'H:i' }}',
                            '{{ game.fixed_score }}', 
                            '{{ game.profit_percentage }}',
                            '{{ game.status }}',
                            'premier'
                          )"><b>Bet now</b></button>
                        </td>
                      </tr>
                    {% empty %}
                      <tr>
                        <td colspan="6" class="text-center text-muted">No games available.</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About Section -->
  <section class="about-section py-5 p-0 mt-5 pt-5" style="background-color: #002244; color: #f1f1f1;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="text-light mb-3 border-bottom me-3 border-white border-1">About Us</h3>
          <p class="text-light mt-3">Welcome to SOCCER247GV.COM, where betting meets consistent returns. We’re a betting platform focused on providing users with a reliable, straightforward way to earn daily. By staking a fixed amount with us, you’ll enjoy a guaranteed 3% return on your stake each day. What sets us apart? Simplicity and trust. You can accumulate your daily returns and, once a week, request a hassle-free withdrawal directly to your bank account. It’s that easy.</p>
        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function placeBet(home_team, away_team, start_date, start_time, fixed_score, profit_percentage, status, prediction) {
      const csrftoken = '{{ csrf_token }}'
    
      fetch("{% url 'predict_bet' %}", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({
          home_team,
          away_team,
          start_date,
          start_time,
          fixed_score,
          profit_percentage,
          status,
          prediction
        })
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            // Redirect to the prediction page on success
            window.location.href = data.redirect_url
          } else {
            // Show error message using SweetAlert2
            Swal.fire({
              icon: '',
              title: 'Error',
              text: data.error,
              confirmButtonText: 'OK',
              timer: 5000 // Optional: Auto-close the alert after 5 seconds
            })
          }
        })
        .catch((error) => {
          console.error('Error:', error)
          // Show generic error message using SweetAlert2
          Swal.fire({
            icon: 'error',
            title: 'Oops!',
            text: 'An unexpected error occurred while placing the bet.',
            confirmButtonText: 'OK'
          })
        })
    }
  </script>
{% endblock %}
