{% load static %}

<!-- Footer Section -->
<footer class="footer py-4" style="background-color:#003366; color: #f1f1f1;">
  <div class="container-fluid">
    <div class="row">
      <!-- Brand Section -->
      <div class="col-md-6 mb-3">
        <h5 class="mb-1 text-light">
          <img src="{% static 'img/soccer_logo.png' %}" height="25" alt="Soccer247GV Logo" />
          SOCCER247GV
        </h5>
        <p class="small text-light">At SOCCER247GV.COM we’re committed to transparency, security, and rewarding our users. Join our growing community today and experience betting redefined.</p>
        <p>Location: 9323 Station Road PLYMOUTH PL43 3DV</p>
      </div>

      <!-- Contact Section -->
      <div class="col-md-6 mb-3">
        <p class="small text-light">
          <i class="fas fa-envelope"></i> support@soccer247gv.com
        </p>
        <p class="text-light">
          <a href="tel:+447543174237" class="fas fa-phone text-light">+447543174237</a>
        </p>
        <p class="text-light">
          <img src="{% static 'img/uk-logo.png' %}" alt="Logo" class="img-fluid" style="width: 50px; height: auto; margin-right: 10px;" />
          United Kingdom
        </p>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center mt-3">
      <div class="container mt-4">
        <p class="text-light small mb-0">
          &copy; 2024 Soccer247GV. All rights reserved. <a href="#" class="text-light">SOCCER247GV.com</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Core JS Files -->
<script src="{% static 'js/core/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>

<!-- Additional JS Libraries -->
<script src="{% static 'js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'js/plugin/chart.js/chart.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery.sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/plugin/chart-circle/circles.min.js' %}"></script>
<script src="{% static 'js/plugin/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'js/plugin/jsvectormap/jsvectormap.min.js' %}"></script>
<script src="{% static 'js/plugin/jsvectormap/world.js' %}"></script>
<script src="{% static 'js/plugin/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/kaiadmin.min.js' %}"></script>

<script>
  $('#lineChart').sparkline([102, 109, 120, 99, 110, 105, 115], { type: 'line', height: '70', width: '100%', lineWidth: '2', lineColor: '#177dff', fillColor: 'rgba(23, 125, 255, 0.14)' })
  $('#lineChart2').sparkline([99, 125, 122, 105, 110, 124, 115], { type: 'line', height: '70', width: '100%', lineWidth: '2', lineColor: '#f3545d', fillColor: 'rgba(243, 84, 93, .14)' })
  $('#lineChart3').sparkline([105, 103, 123, 100, 95, 105, 115], { type: 'line', height: '70', width: '100%', lineWidth: '2', lineColor: '#ffa534', fillColor: 'rgba(255, 165, 52, .14)' })
</script>
