{% load static %}
{% load humanize %}
<div class="main-header">
  <div class="main-header-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="index.html" class="logo"><img src="{% static 'img/kaiadmin/logo_light.svg' %}" alt="navbar brand" class="navbar-brand" height="20" /></a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar"><i class="gg-menu-right"></i></button>
        <button class="btn btn-toggle sidenav-toggler"><i class="gg-menu-left"></i></button>
      </div>
      <button class="topbar-toggler more"><i class="gg-more-vertical-alt"></i></button>
    </div>
    <!-- End Logo Header -->
  </div>
  <!-- Navbar Header -->
  <nav style="background-color: #003366;" class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
    <div class="container-fluid">
      <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
        <li class="nav-item topbar-user dropdown hidden-caret">
          <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
            <div class="avatar-sm">
              <img src="{% static 'img/profile_pic.jpeg' %}" alt="..." class="avatar-img rounded-circle" />
            </div>
          </a>
          {% if request.user.is_authenticated %}
            <ul class="dropdown-menu dropdown-user animated fadeIn">
              <div class="dropdown-user-scroll scrollbar-outer">
                <li>
                  <div class="user-box">
                    <div class="avatar-lg">
                      <img src="{% static 'img/profile_pic.jpeg' %}" alt="..." class="avatar-img rounded-circle" />
                    </div>
                    <div class="u-text">
                      <h4>{{ request.user.phone }}</h4>
                      <p class="text-muted">{{ request.user.email }}</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">My Profile</a>
                  <a class="dropdown-item" href="#">My Balance: ₦{{ request.user.userbalance.main_balance|intcomma }}</a>
                </li>
              </div>
            </ul>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Navbar -->
</div>
